<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<header class="pc-header" th:fragment="header">
  <div class="header-wrapper">
    <!-- Mobile -->
    <div class="me-auto pc-mob-drp">
      <ul class="list-unstyled">
        <li class="pc-h-item pc-sidebar-collapse">
          <a href="#" class="pc-head-link ms-0" id="sidebar-hide"><i class="ti ti-menu-2"></i></a>
        </li>
        <li class="pc-h-item pc-sidebar-popup">
          <a href="#" class="pc-head-link ms-0" id="mobile-collapse"><i class="ti ti-menu-2"></i></a>
        </li>
      </ul>
    </div>

    <!-- Right -->
    <div class="ms-auto">
      <ul class="list-unstyled">
        <!-- User profile -->
        <li class="dropdown pc-h-item header-user-profile">
          <a class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#" data-bs-auto-close="outside">
            <img th:src="@{/assets/images/user/avatar-2.jpg}" alt="user-image" class="user-avtar">
            <span th:text="${session.userAccount.customer.name}">Tên nhân viên</span>
          </a>
          <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
            <div class="dropdown-header">
              <div class="d-flex mb-1">
                <div class="flex-shrink-0">
                  <img th:src="@{/assets/images/user/avatar-2.jpg}" alt="user-image" class="user-avtar wid-35">
                </div>
                <div class="flex-grow-1 ms-3">
                  <h6 class="mb-1" th:text="${session.userAccount.customer.name}">Tên Nhân Viên</h6>
                  <span>4PStore</span>
                </div>
                <!-- Giữ nguyên: icon logout dùng form POST /logout -->
                <form action="/logout" method="post" style="margin:0;">
                  <button type="submit" class="pc-head-link bg-transparent" style="border:none;background:none;padding:0;">
                    <i class="ti ti-power text-danger"></i>
                  </button>
                </form>
              </div>
            </div>
            <ul class="nav drp-tabs nav-fill nav-tabs" id="mydrpTab" role="tablist">
                <button class="nav-link active" id="drp-t1" data-bs-toggle="tab" data-bs-target="#drp-tab-1" type="button">
                  <i class="ti ti-user"></i> Chức vụ :
                  <span th:switch="${session.userAccount.role.id}">
                      <span th:case="2">Nhân viên</span>
                      <span th:case="3">Admin</span>
                      <span th:case="*">none</span>
                  </span>
                </button>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
</html>
