<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="pc-sidebar" th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div class="navbar-wrapper">
    <div class="header d-flex justify-content-center align-items-center" style="height:85px">
      <a th:href="@{/admin/dashboard}" class="b-brand text-primary d-inline-flex align-items-center justify-content-center">
        <img th:src="@{/assets/images/logo_4P.png}" class="img-fluid logo-lg" alt="logo" style="width:100px; height:auto;">
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <!-- Dashboard: ADMIN + EMPLOYEE đều xem -->
        <li class="pc-item" th:if="${session.userRole == 'ROLE_ADMIN' || session.userRole == 'ROLE_EMPLOYEE'}">
          <a th:href="@{/admin/dashboard}" class="pc-link">
            <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
            <span class="pc-mtext">Dashboard</span>
          </a>
        </li>
        <!-- Bán hàng tại quầy: ADMIN + EMPLOYEE -->
        <li class="pc-item" th:if="${session.userRole == 'ROLE_ADMIN' || session.userRole == 'ROLE_EMPLOYEE'}">
          <a th:href="@{/admin/sell-inline/hien-thi}" class="pc-link">
            <span class="pc-micon"><i class="ti ti-shopping-cart"></i></span>
            <span class="pc-mtext">Bán hàng tại quầy</span>
          </a>
        </li>
        <!-- Quản lý hóa đơn: ADMIN + EMPLOYEE -->
        <li class="pc-item" th:if="${session.userRole == 'ROLE_ADMIN' || session.userRole == 'ROLE_EMPLOYEE'}">
          <a th:href="@{/admin/bill/view}" class="pc-link">
            <span class="pc-micon"><i class="ti ti-file-invoice"></i></span>
            <span class="pc-mtext">Quản lý hóa đơn</span>
          </a>
        </li>
        <!-- Các menu chỉ ADMIN mới thấy (gộp lại, không lặp) -->
        <li class="pc-item pc-hasmenu" th:if="${session.userRole == 'ROLE_ADMIN'}">
          <a href="javascript:void(0);" class="pc-link">
            <span class="pc-micon"><i class="ti ti-package"></i></span>
            <span class="pc-mtext">Quản lý sản phẩm</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item"><a class="pc-link" th:href="@{/admin/product/hien-thi}">Sản phẩm</a></li>
            <li class="pc-item pc-hasmenu">
              <a href="javascript:void(0);" class="pc-link">Thuộc tính<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
              <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" th:href="@{/admin/color/hien-thi}">Màu sắc</a></li>
                <li class="pc-item"><a class="pc-link" th:href="@{/admin/category/hien-thi}">Danh mục</a></li>
                <li class="pc-item"><a class="pc-link" th:href="@{/admin/brand/hien-thi}">Hãng</a></li>
                <li class="pc-item"><a class="pc-link" th:href="@{/admin/material/hien-thi}">Chất liệu</a></li>
                <li class="pc-item"><a class="pc-link" th:href="@{/admin/size/hien-thi}">Kích thước</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="pc-item" th:if="${session.userRole == 'ROLE_ADMIN'}">
          <a th:href="@{/admin/discount/view}" class="pc-link">
            <span class="pc-micon"><i class="ti ti-discount"></i></span>
            <span class="pc-mtext">Quản lý khuyến mại</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu" th:if="${session.userRole == 'ROLE_ADMIN'}">
          <a href="javascript:void(0);" class="pc-link">
            <span class="pc-micon"><i class="ti ti-users"></i></span>
            <span class="pc-mtext">Quản lý tài khoản</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item"><a class="pc-link" th:href="@{/admin/users}">Nhân viên</a></li>
            <li class="pc-item"><a class="pc-link" th:href="@{/admin/customer/view}">Khách hàng</a></li>
          </ul>
        </li>
        <li class="pc-item pc-hasmenu" th:if="${session.userRole == 'ROLE_ADMIN'}">
          <a href="javascript:void(0);" class="pc-link">
            <span class="pc-micon"><i class="ti ti-antenna-bars-5"></i></span>
            <span class="pc-mtext">Thống kê</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item"><a class="pc-link" th:href="@{/admin/revenue}">Doanh thu</a></li>
            <li class="pc-item"><a class="pc-link" th:href="@{/admin/product-stats}">Sản phẩm</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</html>
