<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{admin/fragments/head :: head}"></head>
<body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">
<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
<header th:replace="~{admin/fragments/header :: header}"></header>

<div class="pc-container">
    <div class="pc-content">
        <!-- breadcrumb -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Chất liệu vải</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content: bạn dán phần “cards, charts, tables …” ở đây -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <form method="get" action="/admin/material/hien-thi" th:object="${listMaterial}" style="padding-bottom: 20px">
                        <div class="row">
                            <div class="col-5">
                                <input type="text" id="searchInput" class="form-control" name="materialNameSearch"
                                       placeholder="Nhập chất liệu..." th:value="${param.materialNameSearch}">
                            </div>
                            <div class="col-5">
                                <select id="status" name="materialStatusSearch" class="form-select">
                                    <option value="" th:selected="${materialStatusSearch == null}">Tất cả trạng thái</option>
                                    <option value="true" th:selected="${materialStatusSearch == true}">Hoạt động</option>
                                    <option value="false" th:selected="${materialStatusSearch == false}">Không hoạt động</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary" type="submit" id="sbmt">
                                    <i class="bi bi-search"></i>
                                </button>
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalThemMoi">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div th:if="${#lists.isEmpty(listMaterial.content)}" class="d-flex flex-column justify-content-center align-items-center" style="height: 400px;">
                    <img src="https://shop.nebulacare.in/Content/Images/nodata.jpg" style="max-height: 400px;">
                </div>
                <div th:if="${!#lists.isEmpty(listMaterial.content)}" class="card-body">
                    <table class="table table-striped table-bordered dataTable-table" id="table1">
                        <thead>
                        <tr>
                            <th style="text-align: center">STT</th>
                            <th style="text-align: center">Mã</th>
                            <th style="text-align: center">Tên chất liệu</th>
                            <th style="text-align: center">Trạng thái</th>
                            <th style="text-align: center">Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="material, iter : ${listMaterial.content}" th:data-id="${material.id}">
                            <td th:text="${listMaterial.number * listMaterial.size + iter.index + 1}"></td>
                            <td th:text="${material.code}"></td>
                            <td th:text="${material.name}"></td>
                            <td style="text-align: center">
                                <span th:if="${material.status}" class="badge bg-success">Hoạt động</span>
                                <span th:unless="${material.status}" class="badge bg-danger">Không hoạt động</span>
                            </td>
                            <td style="text-align: center">
                                <a class="btn btn-outline-warning hienThiThongTinModal" style="width: 70px" title="Sửa" th:attr="data-id=${material.id}" data-bs-toggle="modal" data-bs-target="#modalChinhSua">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-outline-info thayDoiTrangThai" style="width: 70px" title="Xem" th:attr="data-id=${material.id}">
                                    <i class="bi bi-arrow-left-right"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="dataTable-bottom">
                    <nav th:if="${listMaterial.totalPages > 0}">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${listMaterial.first} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/admin/material/hien-thi(page=${listMaterial.number > 0 ? listMaterial.number - 1 : 0},  size=${listMaterial.size},materialNameSearch=${materialNameSearch},materialStatusSearch=${materialStatusSearch})}">
                                    Trước
                                </a>
                            </li>

                            <li class="page-item"
                                th:each="i : ${#numbers.sequence(0, listMaterial.totalPages - 1)}"
                                th:classappend="${i == listMaterial.number} ? 'active'">
                                <a class="page-link"
                                   th:href="@{/admin/material/hien-thi(page=${i},   size=${listMaterial.size}, materialNameSearch=${materialNameSearch}, materialStatusSearch=${materialStatusSearch})}"
                                   th:text="${i + 1}">1</a>
                            </li>

                            <li class="page-item" th:classappend="${listMaterial.last} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/admin/material/hien-thi(page=${listMaterial.number + 1},  size=${listMaterial.size}, materialNameSearch=${materialNameSearch},    materialStatusSearch=${materialStatusSearch})}">
                                    Sau
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{admin/fragments/footer :: footer}"></footer>
<!--    modal thêm-->
<div class="modal fade" id="modalThemMoi" tabindex="-1" aria-labelledby="modalThemMoiLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalThemMoiLabel">Thêm mới chất liệu</h5>
            </div>
            <div class="modal-body">
                <form id="addSize" method="post" action="/admin/material/add">
                    <div class="mb-3">
                        <label for="material_name" class="form-label">Tên</label><span class="text-danger">*</span>
                        <input type="text" class="form-control" id="material_name" name="materialName" placeholder="Nhập tên chất liệu">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="bi bi-check-lg"></i>
                        </button>
                        <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--    Modal chỉnh sửa-->
<div class="modal fade" id="modalChinhSua" tabindex="-1" aria-labelledby="modalChinhSuaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalChinhSuaLabel">Chỉnh sửa chất liệu</h5>
            </div>
            <div class="modal-body">
                <form id="updateSize" method="post" action="/admin/material/update">
                    <input type="hidden" id="material_id" name="materialId">
                    <div class="mb-3">
                        <label for="material_name_update" class="form-label">Tên</label><span class="text-danger">*</span>
                        <input type="text" class="form-control" id="material_name_update" name="materialNameUpdate" placeholder="Nhập tên chất liệu">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="bi bi-check-lg"></i>
                        </button>
                        <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!--    Script-->


<script th:if="${alert != null}" th:inline="javascript">
    Swal.fire({
        toast: true,
        icon: [[${type}]],
        title: '[[${alert}]]', // Thông báo từ controller
        position: 'top-end',
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true
    });
</script>
<!--    Detail-->
<script>
    $(document).on('click', '.hienThiThongTinModal', function () {
        const id = $(this).data('id');
        console.log("ID lấy được:", id);
        $('#material_id').val(id); // Gắn ID vào input ẩn trong form

        $.ajax({
            url: `/admin/material/detail/${id}`,
            type: 'GET',
            success: function (response) {
                console.log("Response:", response);
                $('#material_id').val(response.id);
                $('#material_name_update').val(response.name);
                $('#material_code_update').val(response.code);
            },
            error: function (xhr) {
            }
        });
    });
</script>
<script>
    $(document).on('click', '.thayDoiTrangThai', function () {
        const id = $(this).data('id');
        Swal.fire({
            title: 'Bạn có chắc muốn đổi trạng thái?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Có',
            cancelButtonText: 'Không'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/admin/material/change-status/${id}`;
            }
        });
    });

</script>

</body>
</html>
