<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}">
    <title>Quan ly khuyen mai | 4PStore</title>
</head>
<body>
<header th:replace="~{admin/fragments/header :: header}"></header>
<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
<section>
    <div class="pc-container">
        <div class="pc-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Quản lý sản phẩm</h5>
                            </div>
                            <ul class="breadcrumb">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container discount-form-container">
    <!-- Main-->
    <div id="main" class="container mt-4">
        <h3></h3>
        <div class="card-header d-flex justify-content-between">
            <div>
                <a class="btn btn-outline-primary" href="/admin/product/hien-thi" style="width: 70px">
                    <i class="bi bi-arrow-return-left"></i>
                </a>
            </div>
            <div>
                <a class="btn btn-outline-success" href="/admin/product/view-add" style="width: 70px" title="Thêm sản phẩm mới">
                    <i class="bi bi-plus"></i>
                </a>
                <a class="btn btn-outline-success" href="/admin/product/view-atribute" style="width: 70px" title="Thuộc tính">
                    <i class="bi bi-play-fill"></i>
                </a>
            </div>

        </div>


        <form id="" class="p-4 bg-light rounded shadow-sm">
            <h5 class="mb-3 text-primary"><i class="bi bi-info-circle-fill me-1"></i> Thông tin sản phẩm</h5>

            <div class="row mb-3">
                <div class="col-md-4 form-floating">
                    <input type="text" class="form-control" id="product_code" th:value="${productForm.code}" readonly>
                    <label for="product_code">Mã sản phẩm</label>
                </div>
                <div class="col-md-4 form-floating">
                    <input type="text" class="form-control" id="product_name" th:value="${productForm.name}" readonly>
                    <label for="product_name">Tên sản phẩm</label>
                </div>
                <div class="col-md-4 form-floating">
                    <input type="text" class="form-control" id="product_description" th:value="${productForm.description}" readonly>
                    <label for="product_description">Mô tả</label>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label">Loại sản phẩm</label>
                    <select class="form-select" disabled>
                        <option th:each="cate : ${listCategory}"
                                th:value="${cate.id}"
                                th:text="${cate.name}"
                                th:selected="${cate.id == productForm.categoryId}">...</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Hãng</label>
                    <select class="form-select" disabled>
                        <option th:each="brand : ${listBrand}"
                                th:value="${brand.id}"
                                th:text="${brand.name}"
                                th:selected="${brand.id == productForm.brandId}">...</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Chất liệu</label>
                    <select class="form-select" disabled>
                        <option th:each="mate : ${listMaterial}"
                                th:value="${mate.id}"
                                th:text="${mate.name}"
                                th:selected="${mate.id == productForm.materialId}">...</option>
                    </select>
                </div>
            </div>

            <hr class="my-4">

            <h5 class="mb-3 text-success"><i class="bi bi-list-ul me-1"></i> Danh sách biến thể</h5>

        <div class="table-responsive">
            <table class="table table-bordered table-striped align-middle text-center">
                <thead class="table-primary">
                <tr>
                    <th scope="col">Tên</th>
                    <th scope="col">Màu</th>
                    <th scope="col">Kích cỡ</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số lượng</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="detail : ${listProductDetail}">
                    <td th:text="${detail.product.name + '(' + detail.color.name + ' - ' + detail.size.code + ' )'}">Tên</td>
                    <td th:text="${detail.color.name}">Màu</td>
                    <td th:text="${detail.size.name}">Size</td>
                    <td th:text="${detail.price}">Giá</td>
                    <td th:text="${detail.quantity}">Số lượng</td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>



    </div>
    <footer th:replace="admin/fragments/footer :: footer"></footer>
    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</section>
<footer th:replace="~{admin/fragments/footer :: footer}"></footer>
</body>
</html>