<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}">
    <title>Quản lý sản phẩm | 4PStore</title>

</head>
<body>
<header th:replace="~{admin/fragments/header :: header}"></header>
<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
<section>
    <div class="pc-container">
        <div class="pc-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">s
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Thêm sản phẩm</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container discount-form-container">
                <div class="container mt-5">
                    <form id="add1" th:object="${productForm}" th:action="@{/admin/product/add1}" method="post" enctype="multipart/form-data">
                        <div class="card shadow-sm rounded mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="product_code" class="form-label">Mã sản phẩm <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="product_code" name="code" th:value="${productForm.code}" placeholder="Mã tạo tự động/ nhập thủ công">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="product_name" class="form-label">Tên sản phẩm <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="product_name" name="name" th:value="${productForm.name}" placeholder="Nhập tên sản phẩm">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="product_category" class="form-label">Loại sản phẩm</label>
                                            <div class="d-flex align-items-center">
                                                <select class="form-select me-2" id="product_category" name="categoryId">
                                                    <option th:each="cate : ${listCategory}"
                                                            th:value="${cate.id}"
                                                            th:text="${cate.name}"
                                                            th:if="${cate.status}"
                                                            th:selected="${cate.id == productForm.categoryId}">
                                                    </option>
                                                </select>
                                                <span id="add_category" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalAddCategory">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="product_brand" class="form-label">Hãng</label>
                                            <div class="d-flex align-items-center">
                                                <select class="form-select me-2" id="product_brand" name="brandId">
                                                    <option th:each="brand : ${listBrand}"
                                                            th:value="${brand.id}"
                                                            th:text="${brand.name}"
                                                            th:if="${brand.status}"
                                                            th:selected="${brand.id == productForm.brandId}">
                                                    </option>
                                                </select>
                                                <span id="add_brand" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalAddBrand">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="product_category" class="form-label">Chất liệu</label>
                                            <div class="d-flex align-items-center">
                                                <select class="form-select me-2" id="product_material" name="materialId">
                                                    <option th:each="mate : ${listMaterial}"
                                                            th:value="${mate.id}"
                                                            th:text="${mate.name}"
                                                            th:if="${mate.status}"
                                                            th:selected="${mate.id == productForm.materialId}">
                                                    </option>
                                                </select>
                                                <span id="add_material" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalAddMaterial">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="product_brand" class="form-label">Mô tả</label>
                                            <textarea class="form-control" id="product_description"  name="description" placeholder="Nhập mô tả" th:value="${productForm.description}"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-primary shadow rounded-pill px-4 py-2" title="Tiếp theo">
                                        <i class="bi bi-arrow-bar-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!--Modal add kiểu loại nhanh-->
<div class="modal fade" id="modalAddCategory" tabindex="-1" aria-labelledby="modalAddCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddCategoryLabel">Thêm mới kiểu loại</h5>
            </div>
            <div class="modal-body">
                <form id="addCategory" method="post" action="/admin/product/add-nhanh/category">
                    <input type="hidden" name="productCode" id="hidden_product_code_cate">
                    <input type="hidden" name="productName" id="hidden_product_name_cate">
                    <input type="hidden" name="productDescription" id="hidden_product_description_cate">
                    <div class="mb-3">
                        <label for="category_name" class="form-label">Tên kiểu loại</label><span
                            class="text-danger">*</span>
                        <input type="text" class="form-control" id="category_name" name="categoryName"
                               placeholder="Nhập tên kiểu loại">
                    </div>
                    <div class="mb-3">
                        <label for="category_description" class="form-label">Mô tả</label>
                        <input type="text" class="form-control" id="category_description" name="categoryDescription"
                               placeholder="Nhập mô tả">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="bi bi-check-lg"></i>
                        </button>
                        <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Modal add hãng nhanh-->
<div class="modal fade" id="modalAddBrand" tabindex="-1" aria-labelledby="modalAddBrandLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddBrandLabel">Thêm mới hãng</h5>
            </div>
            <div class="modal-body">
                <form id="addBrand" method="post" action="/admin/product/add-nhanh/brand">
                    <div class="mb-3">
                        <label for="brand_name" class="form-label">Tên hãng</label><span class="text-danger">*</span>
                        <input type="text" class="form-control" id="brand_name" name="brandName"
                               placeholder="Nhập tên hãng">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="bi bi-check-lg"></i>
                        </button>
                        <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Modal add chất liệu nhanh-->
<div class="modal fade" id="modalAddMaterial" tabindex="-1" aria-labelledby="modalAddMaterialLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddMaterialLabel">Thêm mới chất liệu</h5>
            </div>
            <div class="modal-body">
                <form id="addMaterial" method="post" action="/admin/product/add-nhanh/material">
                    <div class="mb-3">
                        <label for="material_name" class="form-label">Tên chất liệu</label><span
                            class="text-danger">*</span>
                        <input type="text" class="form-control" id="material_name" name="materialName"
                               placeholder="Nhập tên chất liệu">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="bi bi-check-lg"></i>
                        </button>
                        <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="admin/fragments/footer :: footer"></footer>

<!--báo lỗi-->
<script th:if="${alert != null}" th:inline="javascript">
    Swal.fire({
        toast: true,
        icon: [[${type}]],
        title: '[[${alert}]]', // Thông báo từ controller
        position: 'top-end',
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true
    });
</script>

<script>
    document.getElementById("add_category").addEventListener("click", function () {
        document.getElementById("hidden_product_code_cate").value = document.getElementById("product_code").value;
        document.getElementById("hidden_product_name_cate").value = document.getElementById("product_name").value;
        document.getElementById("hidden_product_description_cate").value = document.getElementById("product_description").value;
    });
</script>
</body>
</html>
