<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>4P Store</title>
    <link rel="icon" type="image/png" href="https://png.pngtree.com/png-vector/20221011/ourmid/pngtree-letter-v-logo-icon-vector-png-image_6295820.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

<!-- Main-->
<div id="main" class="container mt-4">
    <h3></h3>
    <div class="card-header d-flex justify-content-between">
        <div>
            <a class="btn btn-outline-primary" href="/admin" style="width: 70px">
                <i class="bi bi-arrow-return-left"></i>
            </a>
        </div>
        <div>
            <a class="btn btn-outline-success" href="/admin/product/view-add" style="width: 70px" title="Thêm sản phẩm mới">
                <i class="bi bi-plus"></i>
            </a>
            <a class="btn btn-outline-success" href="/admin/product/view-atribute" style="width: 70px" title="Thuộc tính">
                <i class="bi bi-play-fill"></i>
            </a>
        </div>

    </div>


    <form id="">
        <div class="mb-3">
            <label for="product_code" class="form-label">Mã sản phẩm</label>
            <input type="text" class="form-control" id="product_code" th:value="${productForm.code}" readonly>
        </div>
        <div class="mb-3">
            <label for="product_name" class="form-label">Tên sản phẩm</label>
            <input type="text" class="form-control" id="product_name" th:value="${productForm.name}" readonly>
        </div>
        <div class="mb-3">
            <label for="product_description" class="form-label">Mô tả</label>
            <input type="text" class="form-control" id="product_description" th:value="${productForm.description}" readonly>
        </div>
        <div class="mb-3">
            <label for="product_category" class="form-label">Kiểu loại</label>
            <input type="text" class="form-control" id="product_category" th:value="${productForm.categoryId.name}" readonly>
        </div>
        <select class="form-select" disabled>
            <option th:each="cate : ${listCategory}"
                    th:value="${cate.id}"
                    th:text="${cate.name}"
                    th:selected="${cate.id == productForm.categoryId}">...</option>
        </select>
        <select class="form-select" disabled>
            <option th:each="brand : ${listBrand}"
                    th:value="${brand.id}"
                    th:text="${brand.name}"
                    th:selected="${brand.id == productForm.brandId}">...</option>
        </select>
        <select class="form-select" disabled>
            <option th:each="mate : ${listMaterial}"
                    th:value="${mate.id}"
                    th:text="${mate.name}"
                    th:selected="${mate.id == productForm.materialId}">...</option>
        </select>

        <!-- table biến thể -->
        <table class="table">
            <thead>
            <tr>
                <th>Màu</th>
                <th>Kích cỡ</th>
                <th>Giá</th>
                <th>Số lượng</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="detail : ${listProductDetail}">
                <td th:text="${detail.color.name}">...</td>
                <td th:text="${detail.size.name}">...</td>
                <td>VND</td>
<!--                <td th:text="${#numbers.formatDecimal(detail.price, 0, 'POINT', '.', ',')}">...</td>-->
                <td th:text="${detail.quantity}">...</td>
            </tr>
            </tbody>
        </table>
    </form>


</div>

<!-- Script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
