<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout}">

<head>
    <title></title>
</head>
<body>
<div layout:fragment="content">

<h6 class="mt-4">Lịch sử cập nhật trạng thái</h6>
<table class="table table-bordered text-center align-middle">
    <thead class="table-light">
    <tr>
        <th>Thời gian</th>
        <th>Trạng thái</th>
        <th>Ghi chú</th>
        <th>Người thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="history : ${billHistories}">
        <td th:text="${#temporals.format(history.createdAt, 'dd-MM-yyyy HH:mm')}">01-08-2025 10:00</td>
        <td>
            <span th:switch="${history.status}">
                <span th:case="1">Chờ xác nhận</span>
                <span th:case="2">Đã xác nhận</span>
                <span th:case="3">Đang giao</span>
                <span th:case="4">Hoàn thành</span>
                <span th:case="5">Đã huỷ</span>
                <span th:case="6">Giao hàng thất bại</span>
                <span th:case="*">Không rõ</span>
            </span>
        </td>
        <td th:text="${history.note}"></td>
        <td th:text="${history.account != null ? history.account.username : 'Hệ thống'}"></td>
    </tr>
    </tbody>
</table>
    <a th:href="@{'/admin/bill/getbill-detail/' + ${bill.id}}" class="btn btn-secondary">⬅ Quay lại </a>
</div>

<footer th:replace="~{admin/fragments/footer :: footer}"></footer>
</body>
</html>